<div class="row">
	<div class="large-12 columns">
		<h1>Bienvenido al administrador</h1>
		<h1 class="subheader"><small>Acá puedes editar, agregar o eliminar las <%= link_to 'categorías', categorias_path %> y/o <%= link_to "productos", productos_path %> que tengas</small></h1>
	</div>
</div>