<div class="row">
  <div class="small-12 columns">
		<h1>Concurso</h1>
	</div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-12 columns">
		Concurso Play FM! Visita el sitio <a href="http://playfm.cl/gana-invitaciones-para-new-pitas-crespes-waffles/">Aqui!</a>
	</div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-12 columns text-center">
		<iframe src="http://playfm.cl/gana-invitaciones-para-new-pitas-crespes-waffles/" height="900px" width="1000px" scrolling="no"></iframe>
	</div>
</div>