<div class="row">
  <div class="small-12 columns">
		<h1>Descuento Socios Club La Tercera</h1>
	</div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
		<%= image_tag "descuento.png" %>
	</div>
</div>