<div class="row">
  <div class="small-12 columns">
		<h1>Descuento Socios Club de Lectores</h1>
	</div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
		<iframe src="http://www.clubdelectores.cl/new-pitas-crepes-waffles/" height="900px" width="1000px" scrolling="no"></iframe>
	</div>
</div>