<div class="row" style="margin-bottom: 40px;">
  <div class="small-12 columns">
		<h1>Eventos</h1>
	</div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
  <h6 class="subheader">Desde 10 a 100 personas y celebra tus cumpleaños , desayunos, almuerzos especiales  y eventos de empresa  con: Crepes dulces, waffles dulces,  crepes salados, pita pizzas, hamburguesas, churrascos, entre otros productos y servicios.</h6>

  <%= image_tag "carros.png" %>

   <h6 class="subheader">No te preocupes de nada, te ofrecemos un servicio integral para eventos,
	ferias, matrimonios, cumpleaños o reuniones especiales para grupos que
	van desde 10 personas.</h6>

	<h6 class="subheader">Lo que incluye las preparaciones de toda nuestra carta de crepes dulces
	y salados, servicio de garzones y consulte también por cualquier otro tipo
 	de servicio de catering de nuestra carta.</h6>
 	</div>
</div>