<div class="row">
  <div class="small-12 columns">
		<h1>Franquicias</h1>
	</div>
</div>

<div class="clear"></div>

<div class="row">
  <div class="small-12 columns">
  	<dl>
		  <dt>Tea and coffee:</dt>
		  <dd>Ofrece a sus asociados una alta rentabilidad mediante el desarrollo de un nuevo concepto de servicios en el mundo de la gastronomía y servicios. Dentro del mundo de la gastronomía y servicios, el concepto de cafeterías, delis o bistró son uno de los productos más demandados y con mayor beneficio comercial.</dd>
		</dl>

		<ul class="vcard">
		  <li class="fn">Servicios alimenticios C&A LIMITADA</li>
		  <li class="street-address">Av. Nueva Costanera 3440</li>
		  <li class="locality">Vitacura, Santiago, Chile</li>
		  <li class="locality">Teléfono: 56 (2) 23795305-28403420-móvil: 083404523-097465205</li>
		  <li class="email"><a href="#">newpitascrepesywaffles@gmail.com</a></li>
		  <li class="email"><a href="www.teandcoffeenewpitas.cl">Web: www.teandcoffeenewpitas.cl</a></li>
		  <li class="street-address">INVERSIÓN: 1.500 UF (IVA no incluido) (incluye obra civil).</li>
		  <li class="street-address">PERFIL DEL FRANQUICIADO: Ideal tanto para inversor como para persona que busque autoempleo.</li>
		  <li class="street-address">PERSONAL NECESARIO: 4 empleados.</li>
		</ul>

		<dl>
		  <dt>Local Necesario:</dt>
		  <dd>Ubicación planta calle o polos comerciales y financieros, superficie desde 45 metros cuadrados.</dd>
		  <dd>Buena visibilidad y alto tráfico de peatones y autos.</dd>
		</dl>

		<dl>
			<dt>Duración de Contrato:</dt>
			<dd>5 años renovables.</dd>
		</dl>

		<dl>
			<dt>Claves del Negocio:</dt>
			<ul class="circle">
			  <li>Marca con experiencia en el rubro y con un concepto innovador.</li>
			  <li>Ideal como autoempleo/li>
			  <li>Alta rentabilidad con baja inversión</li>
			  <li>Gestión sencilla</li>
			  <li>No es necesaria experiencia para la operación</li>
			  <li>Sistema revolucionario</li>
			</ul>

			<dd>Lo invitamos a ser parte del concepto de franquicia más avanzado y rentable en el rubro de gastronomía y servicios.</dd>
		</dl>
	</div>
</div>