<div class="row">
  <div class="small-12 columns">
		<h1>Franquicias</h1>
	</div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
		Tea and coffee: Ofrece a sus asociados una alta rentabilidad mediante el desarrollo de un nuevo 

		concepto de servicios en el mundo de la gastronomía y servicios.

		Dentro del mundo de la gastronomía y servicios, el concepto de cafeterías, delis o bistró son uno 

		de los productos más demandados y con mayor beneficio comercial.
	</div>
</div>