<div class="row" style="margin-bottom: 40px;">
  <div class="small-12 columns">
		<h1>Pedidos</h1>
	</div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
  	<div class="row">
		  <div class="large-6 columns">
		  	<h3 class="pedidos_title">Delivery</h3>
		  	<iframe id="pedidos_iframe" src="https://mapsengine.google.com/map/u/0/embed?mid=zqm7Rsnn4FHs.kZoFIGtjP-Iw"></iframe>
		  	<div class="clear"></div>
				<h6 class="subheader">Pedidos al teléfono 23795305 Móvil 083404523  O por whatapp +56983404523</h6>
				<div class="clear"></div>
				<h6 class="subheader">20 % de descuentos  con  el club de El Mercurio y La Tercera</h6>
		  </div>
		  <div class="large-6 columns">
		  	<h3 class="pedidos_title">Medios de Pago</h3>
		  	<ul class="side-nav">
				  <li><p>Pagos con tarjetas Bancarias</p></li>
				  <li><p>Transbank</p></li>
				  <li><p>Sodexo</p></li>
				  <li><p>Amipass</p></li>
				  <li><p>Cheque restaurant</p></li>
				</ul>
				<div class="clear"></div>
				<h6 class="subheader">Para realizar convenios  con su empresa debe enviar un mail a <a href="mailto:newpitascrepesywaffles@gmail.com" target="_top">newpitascrepesywaffles@gmail.com</a> y nos contactaremos con usted!</h6>
				<div class="clear"></div>
				<h6 class="subheader">Aproveche nuestros  horario rebajado y has tus pedidos hasta las 12:00 del día y obtén un 10 % de descuento.</h6>
				<div class="clear"></div>
				<h6 class="subheader">De lunes a viernes de 16:00 a 19:30  todos los crepes  dulces con café segafredo o té twinings a $ 2.900 pesos.</h6>


				
		  </div>
		</div>
		
	</div>
</div>