<div class="row">
  <div class="small-12 columns">
		<h1>Prensa</h1>
	</div>
</div>

<div id="noticias">
	<div class="row">
	  <div class="large-3 columns">
	  	<%= image_tag "prensa2.png", height: '150', width: '250' %>
	  </div>
	  <div class="large-6 columns descripcion_noticia">
	  	<div class="titulo_link">
	  		<a href="http://impresa.elmercurio.com/pages/newsdetail.aspx?dt=2014-05-17&PaginaId=34&SupplementId=1&BodyID=0&tipoPantalla=undefined">Una tendencia interezante</a>
	  	</div>
	  	<div class="separar"></div>
	  	<div class="descripcion_noticia">
	  		Publicado en Diario El Mercurio: | 17 de mayo de 2014
	  	</div>
	  </div>
	  <div class="large-3 columns"></div>
	</div>

	<div class="clear"></div>

	<div class="row">
	  <div class="large-3 columns">
	  	<%= image_tag "prensa3.png", height: '150', width: '250' %>
	  </div>
	  <div class="large-6 columns">
	  	<div class="titulo_link">
	  		<a href="http://www.revistamujer.cl/2014/04/20/01/contenido/pitas-crepes-y-waffles.shtml/">Pitas, crepes y waffles</a>
	  	</div>
	  	<div class="separar"></div>
	  	<div class="descripcion_noticia">
	  		Publicado en Revista Mujer: | 20 de abril de 2014
	  	</div>
	  </div>
	  <div class="large-3 columns"></div>
	</div>

	<div class="clear"></div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag "prensa1.png", height: '150', width: '250' %>
		</div>
	  <div class="large-6 columns">
	  	<div class="titulo_link">
	  		<a href="http://www.revistamujer.cl/2014/04/20/01/contenido/pitas-crepes-y-waffles.shtml/">Fuimos invitados a probar las delicias del “Tea and coffee new pitas crepes & waffles”</a>
	  	</div>
	  	<div class="separar"></div>
	  	<div class="descripcion_noticia">
	  		Publicado en elservirsen.com: | 25 de febrero de 2014
	  	</div>
	  </div>
	  <div class="large-3 columns"></div>
	</div>
</div>
