<div class="row">
	<div class="small-12 columns">
		<h2>¿Quienes somos?</h2>
		<p>
			Tea and Coﬀee nace el año 2013 como un nuevo concepto de New Pitas Crepes & Waffles Nuestro principal objetivo es entregar opciones de alimentación sana, fresca y al alcance de todos y en especial satisfacer las necesidades de los amantes del buen comer. Marca con una larga trayectoria en el rubro de la gastronomía.
		</p>

		<h2>¿Qué ofrecemos?</h2>
		<p class="text-">
			Nuestra carta esta compuesta de un resumen de los principales platos de New Pitas Crepes & Waffles entre ellos pita pizza, crepes salados, ensaladas, sopas y una gran variedad de opciones dulces en mini crepes y baby waﬄes. Además de una novedosa apuesta en café, té, infusiones, jugos, sándwich gourmet y productos para acompañar el café, entre ellos galletas, media lunas rellenas, sfoglias, alfajores, pan de queso y mucho más. También puedes disfrutar de algunos de nuestros productos en tu hogar: café Segafredo, té Twinings, galletas Bahlsen, Tika natural chips entre otros. Desayunos, almuerzos, hora del té y servicios especiales de catering para empresas.
		</p>

		<h2>Nuestros servicios</h2>
		<p>
			De lunes a viernes de 07:30 a 19:30 horas u otros servicios, cumpleaños y despedidas. Consulte por nuestras promociones y convenios para empresas Has tus pedidos de nuestra carta para llevar o delivery y aproveche de lunes a viernes de 9:00 a 12:00 y de 16:00 a 19:30 las orfetas de nuestros productos.
		</p>
	</div>
</div>
